#members.grid {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#members.grid section {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 0.02px solid #e6e6ec;
    border-radius: 10px;
    text-align: center;
    font-size: 0.75em;
    background-color: #efeff7;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#members.grid section:hover {
    transform: scale(1.05);
    background-color: #dfe6f5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

#members.grid img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}